<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class List</title>
    <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/assets/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <%- include('../navbar') %> 
    <br/>
<div class="container">
        <!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
   Add New Class
  </button><br/><br/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No</th>
                <th>Class Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          <% data.forEach((el, index) => { %> 
            <tr>
                <td><%= index+1 %> </td>
                <td><%= el.className %></td>
                <td>
                    <a href="/class/edit/<%= el.id %>" class="btn btn-primary">Edit</a>
                    <a href="/class/delete/<%= el.id %>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <% }) %> 
        </tbody>
    </table>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="/class/add" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="">CLass Name</label>
                <input type="text" name="className" class="form-control">
            </div>    
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
</body>
</html>